.cardBar{
    width: 100%;
    height: 10vh;
    background-color: #142d4c;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

/* h1{
    background-color: aqua;
    width: 10%;
} */
.bar{
    width: 50%;
    display: flex;
    padding: 20px;
    right: 0;
    align-items: center;

}
.bar input{
    width: 90%;
    padding: 5px;
}

.bar button{
    width: 10%;
    padding: 5px;
}